@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nanum Pen Script',  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  text-align: center;
  color: white;
  height: 100vh;
  background: linear-gradient(45deg,#e66465, #9198e5);
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.3rem;
  z-index: 1;
  overflow: hidden;
}

.container {
  padding: 1rem;
  max-width: 1440px;
}

.glassy {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border: 2px solid rgba( 255, 255, 255, 0.18 );
  backdrop-filter: blur( 4px );
  background: rgba( 255, 255, 255, 0.25 );
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.spalash-screen {
  position: relative;
  max-width: 756px !important;
  aspect-ratio: 1 !important;
  z-index: 2;
  top: -65vh;
  left: auto;
  right: auto;
  border-radius: 11px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgba(20, 34, 66, 0.547);
}

@media screen and (min-width: 768px) {
  
}

footer a {
  text-decoration: none;
  color: rgb(67, 61, 61);
}


header {
  max-height: 15vh;
  text-align: center;
  padding: auto;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  height: clamp(28px, calc(32px + 0.5vw), 22px);
}

nav .title {
  font-size: clamp(24px, calc(24px + 1vw), 72px);
  font-family: 'Nanum Pen Script', cursive;
}

nav a {
  color: inherit;
}

.game {
  min-height: 65vh;
  z-index: 2;
}

.btn-input {
  display: flex;
  justify-content: space-between;
}

.animate-btn,
.primary-btn {
  padding: 0.1rem 0.5rem;
  width: 8rem;
  border-radius: 11px;  
}

.animate-btn:hover {
  background: rgba( 255, 255, 255, 0.4 );
}

.display-box {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  align-items: center;
  justify-content: center;
}

.hand {
  display: block;
  font-size: clamp(15vh, calc(15vh + 0.5vw) ,30vw);
  padding-block: 3rem;
  background-color: transparent;
  position: relative;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.hand svg{
  filter: drop-shadow(0 70px 20px rgba( 31, 38, 135, 0.4 ))
}


.computer.animate {
  animation: computer-hand 1.8s linear ;
}

@keyframes computer-hand {
  0% {
    transform: rotateZ(0deg) translateY(2rem);
  }
  18%,20% { transform: rotateZ(-45deg) translateY(0rem); }
  40% { transform: rotateZ(0deg) translateY(2rem); }
  58%,60% { transform: rotateZ(-45deg) translateY(0rem); }
  80% { transform: rotateZ(0deg) translateY(2rem);
   opacity: 1; }
  98%, 100% { transform: rotateZ(-45deg) translateY(0rem);
    opacity: 0.3; }
}

.player.animate {
  animation: player-hand 1.8s linear ;
}

@keyframes player-hand {
  0% {
    transform: rotateZ(0deg) translateY(2rem);
  }
  18%,20% { transform: rotateZ(45deg) translateY(0rem); }
  40% { transform: rotateZ(0deg) translateY(2rem); }
  58%,60% { transform: rotateZ(45deg) translateY(0rem); }
  80% { transform: rotateZ(0deg) translateY(2rem);
   opacity: 1; }
  98%, 100% { transform: rotateZ(45deg) translateY(0rem);
    opacity: 0.3; }

}

.selection-btns {
  max-width: 80%;
  margin: clamp(1rem, 0.2vw, 2rem) auto;
  display:flex;
  justify-content: space-around;
}

.select-btn {
  padding: 0.8rem;
  border-radius: 50%;
  width: 6rem;
}

.game-results {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
